@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;500;600&family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=Cinzel+Decorative:wght@400;700;900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Eagle+Lake&family=Elsie+Swash+Caps:wght@400;900&family=IM+Fell+French+Canon+SC&family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800;10..100,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,900&family=Limelight&family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,600;1,6..72,700&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,700;1,900&family=Ultra&family=Yeseva+One&display=swap");

nav {
  height: 86px;
  padding: 0 10px;

  .left_nav {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;

    .menu_button {
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background-color: #9690a214;
      border: none;
      cursor: pointer;

      .bars_container {
        display: flex;
        flex-direction: column;
        gap: 6px;

        span {
          width: 17px;
          height: 2px;
          background-color: black;
          display: block;
          transition: 0.4s ease-in-out;
        }

        .bar1 {
          width: 22px;
        }
      }
    }

    .logo {
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .mid_nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .lvl1_ul {
      display: flex;
      padding: 0;
      margin: 0;

      .lvl1_li {
        position: relative;

        &:hover {
          .li_container {
            color: #d90a2c;
          }

          .lvl2_ul {
            opacity: 1;
            visibility: visible;
            transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
            transform: perspective(400px) rotateX(0deg);
          }

          .onelisted {
            opacity: 1;
            visibility: visible;
            transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
            transform: perspective(400px) rotateX(0deg);
          }
        }

        .li_container {
          cursor: pointer;
          padding: 0px 18.5px;
          display: flex;
          flex-direction: column;
          transition: 0.2s ease-in-out;

          small {
            font-weight: 700;
            font-size: 0.6em;
            line-height: 0.6em;
            opacity: 0.75;
            text-align: end;
          }

          span {
            font-weight: 500;
            font-size: 16.4px;
          }
        }

        .lvl2_ul {
          position: absolute;
          top: 2.75rem;
          left: -525px;
          display: flex;
          flex-wrap: block;
          z-index: 100;
          opacity: 0;
          visibility: hidden;
          padding: 1.75rem 1rem;
          width: calc(100vw - 8.8vh);
          // width: 1470px;
          box-align: start;
          box-pack: center;
          border-radius: 0.65rem;
          align-items: flex-start;
          justify-content: center;
          min-width: 13.5rem;
          margin: 0;
          background-color: #fff;
          transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
          transform-origin: 50% -50px;
          transition-property: transform, opacity, visibility;
          transform: perspective(400px) rotateX(-10deg);
          box-shadow: 0 20px 32px -8px #11101326, 0 0 1px #1110130d;

          .lvl2_li {
            width: calc(100% / 6);
            font-size: 0.96rem;
            line-height: 26px;
            font-weight: 400;
            // padding: 0 0 0 20px;

            h6 {
              opacity: 0.65;
              font-size: 0.8em;
              font-weight: 600;
              margin-bottom: 15px;
              padding: 0 20px;
              cursor: pointer;
              transition: 0.3s ease-in-out;

              &:hover {
                color: #d90a2c;
              }
            }

            .lvl3_ul {
              padding: 0;
              margin: 0;

              .lvl3_li {
                cursor: pointer;
                padding: 5px 20px;
                transition: 0.3s ease-in-out;

                &:hover {
                  color: #d90a2c;
                  background-color: rgba(150, 144, 162, 0.06);
                }

                small {
                  color: white;
                  background-color: #dc2828;
                  font-size: 9px;
                  font-weight: bold;
                  margin: -1px 0 0 5px;
                  padding: 0 4px;
                  height: 1.05rem;
                  display: inline-flex;
                  vertical-align: middle;
                  align-items: center;
                  border-radius: 0.35rem;
                }
              }
            }
          }
        }

        .left2 {
          position: absolute;
          top: 2.75rem;
          left: -630px;
        }

        .left3 {
          position: absolute;
          top: 2.75rem;
          left: -730px;
        }

        .left4 {
          position: absolute;
          top: 2.75rem;
          left: -800px;
        }

        .onelisted {
          position: absolute;
          z-index: 100;
          visibility: hidden;
          opacity: 0;
          width: auto;
          left: 0;
          top: 2.75rem;
          margin: 0;
          padding: 1rem 0;
          background-color: #fff;
          min-width: 13.5rem;
          transform-origin: 50% -50px;
          transform: perspective(400px) rotateX(-10deg);
          transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
          border-radius: 0.35rem;
          box-shadow: 0 20px 32px -8px #11101326, 0 0 1px #1110130d;

          .onelisted_li {
            display: flex;
            justify-content: space-between;
            line-height: 22px;
            font-weight: 400;
            font-size: 0.98rem;
            padding: 0.4rem 1rem;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            position: relative;

            &:hover {
              background-color: rgba(150, 144, 162, 0.06);

              span {
                color: #d90a2c;
              }

              .plus_icon {
                transform: rotate(135deg);
              }

              .onelists_popup {
                opacity: 1;
                visibility: visible;
                transform: perspective(400px) rotateX(0deg);
              }
            }

            span {
              transition: 0.3s ease-in-out;
            }

            .plus_icon {
              font-size: 18px;
              transition: 0.3s ease-in-out;
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                color: #8f8f8f;
              }
            }

            .onelists_popup {
              width: auto;
              position: absolute;
              top: -1rem;
              left: 100%;
              z-index: 10;
              margin: 0;
              padding: 1rem 0;
              background-color: #fff;
              min-width: 13.5rem;
              opacity: 0;
              visibility: hidden;
              transform: perspective(400px) rotateX(-5deg);
              transform-origin: 50% -50px;
              transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
              border-radius: 0.35rem;
              box-shadow: 0 20px 32px -8px #11101326, 0 0 1px #1110130d;

              li {
                padding: 0.4rem 1rem;
                transition: 0.3s ease-in-out;

                &:hover {
                  background-color: rgba(150, 144, 162, 0.06);
                  color: #d90a2c;
                }

                small {
                  color: white;
                  background-color: #dc2828;
                  font-size: 9px;
                  font-weight: bold;
                  margin: -1px 0 0 5px;
                  padding: 0 4px;
                  height: 1.05rem;
                  display: inline-flex;
                  vertical-align: middle;
                  align-items: center;
                  border-radius: 0.35rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .right_nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      transition: 0.2s ease-in-out;
      background-color: #111013;
      color: white;
      border: none;
      padding: 6px 14px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 14px;
      font-family: "DM Sans", sans-serif;

      &:hover {
        background-color: #d90a2c;
      }
    }
  }

  .back_color {
    background-color: rgba(17, 16, 19, 0.913);

    .modal_margin {
      margin: 0;
      height: 100%;
      max-width: 100%;

      .modal_body {
        background-color: transparent;
        padding: 20px;

        .modal_heading {
          border: none;
          padding: 0;

          .close_btn {
            border-radius: 50px;
            padding: 20px;
            opacity: 1;
            margin: 0;
          }
        }

        .menu_list {
          padding: 55px 0 50px 40px;

          .visible_ul {
            max-width: 330px;
            margin: 0;
            padding: 0;

            .li_relative {
              display: flex;
              color: white;
              align-items: center;
              justify-content: space-between;
              padding: 0 30px 0 0;
              margin: 5px 0;
              cursor: pointer;
              position: relative;

              &:hover {
                .page_name {
                  transform: translateX(30px);

                  small {
                    opacity: 0;
                  }

                  span {
                    color: #9690a2;
                  }
                }

                .plus_rotate {
                  transform: rotate(135deg);
                }

                .ul_absolute {
                  visibility: visible;
                  opacity: 1;

                  .li_hidden {
                    transform: translateY(0px);
                  }
                }
              }

              .page_name {
                display: flex;
                transition: 0.3s ease-in-out;

                span {
                  font-size: 5vh;
                  font-weight: 600;
                  font-family: "DM Sans", sans-serif;
                  transition: 0.3s ease-in-out;
                }

                small {
                  margin-right: 0.5rem;
                  padding-top: 5px;
                  font-family: "DM Sans", sans-serif;
                  color: #9690a2;
                  display: inline-block;
                  font-weight: 700;
                  width: auto;
                  vertical-align: top;
                  line-height: 20px;
                  transition: 0.2s ease-in-out;
                }
              }

              .plus_rotate {
                transition: 0.2s ease-in-out;

                svg {
                  color: #8f8f8f;
                  font-size: 25px;
                }
              }

              .ul_absolute {
                position: absolute;
                top: 0;
                left: 100%;
                width: 350px;
                padding: 0 0 0 20px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease-in-out;

                .li_hidden {
                  transform: translateY(50px);
                  transition: 0.3s ease-in-out;

                  span {
                    font-size: 36px;
                    font-weight: 600;
                    font-family: "DM Sans", sans-serif;
                  }

                  &:hover {
                    transform: translateX(20px);
                    color: #9690a2;
                  }
                }
              }
            }
          }
        }

        .nav_foot {
          h5 {
            color: white;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
          }

          p {
            color: #635d6f;
            line-height: 25px;
          }

          .nav_social {
            display: flex;
            gap: 5px;

            span {
              color: white;
              width: 48px;
              height: 48px;
              border-radius: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              cursor: pointer;
              transition: 0.2s ease-in-out;

              &:hover {
                background-color: rgba(150, 144, 162, 0.08);
              }
            }
          }
        }
      }
    }
  }
}
